<div class="footer">
  <div class="w">
    <div class="links">
      <a href="www.imooc.com" class="link", target="_blank">慕课</a> |
      <a href="www.taobao.com" class="link", target="_blank">淘宝</a> |
      <a href="www.zhihu.com" class="link", target="_blank">知乎</a> |
      <a href="www.zhin.me" class="link", target="_blank">张钦</a>
    </div>
    <p class="copyright">
      Copyright © 2017 happymmall.com All Right Reserved
    </p>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>