<div class="footer">
  <div class="w">
    <div class="links">
      <a href="www.google.com" class="link" target="_blank">谷歌</a> |
      <a href="www.taobao.com" class="link" target="_blank">淘宝</a> |
      <a href="www.tmall.com" class="link" target="_blank">天猫</a>  |
      <a href="www.github.com/zhin2929/" class="link" target="_blank">Github</a>
    </div>
    <p class="copyright">
      Copyright © 2017 myzmall.xyz All Right Reserved
    </p>
  </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>